.b3 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120vh;
    font-family: Poppins;

}

.s-one {
    position: absolute;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0,0.2);
    left: 25%;

}

.s-two {
    position: absolute;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0,0.2);
    left: 50%;

}




.s-three {
    position: absolute;
    width: 1px;
    height: 100vh;
    background: rgba(0, 0, 0,0.2);
    left: 75%;

}



.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}


.top-bar ul li {
    list-style: none;
    line-height: 46px;
    padding: 16px 32px;
    margin: 0 16px;

}



.menu-btn {
    position: absolute;
    right: 20px;
    padding: 16px 0 0 0;
    width: 40px;
    height: 40px;
    left: 85%;

}


.one, .two {
    position: absolute;
    background: #000;
    width: 30px;
    height: 2px;

}

.two {
    margin-top: 12px;

}



.account {
    position: absolute;
    left: 40px;
}



.account span {
    margin-left: 8px;

}
.logo {
    position: absolute;
    left: 50%;
    font-family: "charm";
    font-weight: bolder;
    font-size: 20px;
}



.search {
    position: absolute;
 
 left: 60%;
}


.contact {
    padding: 10px 30px;
    position: absolute;
    left: -20px;
    top: 1250px;
    transform: rotate(-90deg);


}


.tag {
  position: absolute;
  top: 1100px;
  left: 10%;
  padding: 10px 30px;
}

.year {
    position: absolute;
    top: 1456px;
    left: 10%;
    padding: 10px 30px;

}

.img img {
    width: 46%;


}

.img {
    position: absolute;
    z-index: 0;
    left: 28%;
    top: 1206px;

}

.title {
    position: absolute;
    font-size: 62px;
    position: absolute;
    top: 1311px;
    left: 57%;
    font-family: "charm";

}




.line {
    position: absolute;
    width: 100px;
    background: #000;
    top: 1200px;
    left: 25%;
    height: 1px;
}

.e-shop {
    position: absolute;
    padding: 10px 30px;
    
    top: 1250px;
    left: 75%;
    transform: rotate(90deg);
}

.tag-line {
    position: absolute;
    padding: 10px 30px;
    color: grey;
    top: 1450px;
    left: 53%;
    
}

.media ul  {
   list-style: none;
   position: absolute;
   right: 20px;
   top: 70%;
   padding: 10px 10px; 
}

.media ul li {
    font-size: 18px;
    margin: 24px 0;

}

/* animation */
 
.title span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2s;
}

.title:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    position: absolute;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1)forwards;
    animation-delay: 1.4s;
}




.tag-line span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.2s;
}

.tag-line:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    position: absolute;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1)forwards;
    animation-delay: 1.8s;
}






@keyframes rev-block {
    0% {
        left: 0%;
        width: 0%;

    }
    50% {
        left: 0;
        width: 100%;

    }

    100% {
        left: 100%;
        width: 0%;
    }
}
@keyframes appear-text {
   0% {
       opacity: 0;

   }
 100% {
     opacity: 1;
 }

}


img {
    opacity: 0;
    animation: appear-text 1s linear forwards;
    animation-delay: 1.4s;
}

.img:after {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #b68c70;
    position: absolute;
    animation: rev-img 1.5s cubic-bezier(0.19, 1, 0.22, 1)forwards;
    animation-delay: 1s;
}

@keyframes rev-img {
    0% {
        left: 0%;
        width: 0%;

    }
    50% {
        left: 0;
        width: 46%;

    }

    100% {
        left: 46%;
        width: 0%;
    }
}


